// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$logoBg: #F2F6FC;
$logoText: #409EFF;

$menuText: #409EFF;
$menuActiveText: #409EFF;
$subMenuActiveText:#409EFF; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveHoverText: white;

$menuBg: #F2F6FC;
$menuHover:#409EFF;
$menuHoverText: white;

$subMenuBg:white;
$subMenuHover:#409EFF;
$subMenuHoverText: white;

$sideBarWidth: 210px;

$sideBarHiddenWidth: 64px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
